.acerca_de_mi {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: .6vw;
    position: relative;
    font-size: 1.501vw;
}

.contenedor_acerca_de_mi {
    top: 4vh;
    position: relative;
    height: 100vh;
    width: 100%;
}