/* Presentacion */
.body_presentacion {
    overflow: hidden;
}

.body_presentacion_active {
    overflow: auto;
}

.contenedor_presentacion {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contenedor_presentacion_active {
    position: absolute;
}

.separador_color {
    background-color: brown;
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 44vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.imagen_arriba,
.imagen_abajo {
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.imagen_arriba,
.imagen_arriba_active {
    top: 0%;
    height: 50vh;
}

.imagen_abajo,
.imagen_abajo_active {
    height: 60vh;
    top: 53%;
}

.imagen_arriba_active,
.imagen_abajo_active {
    width: 100%;
    position: fixed;
    transition: 2s linear;
    transform: translateY(-2000px);
    z-index: 1;
}

.imagen_abajo_active {
    transform: translateY(2000px);
}

.imagen_abajo.active:hover {
    transform: translateY(2000px);
}

.boton_falso {
    align-items: center;
    height: 8vh;
    width: 20vw;
    background-color: #5555;
    color: white;
    text-decoration: underline;
    text-decoration-thickness: .15vw;
    border-radius: 15%;
}

.texto_boton {
    font-size: 3.7vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#nombre_presentacion,
#titulo_presentacion {
    margin: auto;
    background-color: white;
}

.texto_presentacion {
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}

#nombre_presentacion {
    font-size: 9.5vh;
}

#titulo_presentacion {
    font-size: 6.5vh;
}

/* Curriculum-acerca-de */
.acerca_de_mi {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: .5em;
    position: relative;
    font-size: 1.501vw;
}

.contenedor_acerca_de_mi {
    top: 4vh;
    position: relative;
    height: 100vh;
    width: 100%;
}

/* Curriculum experiencia */

.contenedor_trabajo {
    width: 100%;
    height: fit-content;
    position: relative;
    margin-top: 1.2vw;
    display: flex;
    gap: 3vw;
}

.descripcion_y_titulo_contenedor {
    width: 100%;
}

.contenedor_fecha_experiencia {
    display: flex;
    flex-direction: column;
}

.fecha_experiencia {
    font-size: 4vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 2vh;
    position: relative;
    color: white;
    text-shadow: .2vh .2vh .5vh red;
}

.titulo_experiencia_contenedor {
    position: relative;
    margin: 0px;
    display: flex;
    text-shadow: .2vh .2vh .5vh rgb(71, 70, 70); /* 2px 2px 5px */
    color: white;
}

.subtitulo_experiencia {
    font-size: 60px;
    width: fit-content;
    font-weight: 500;
}

.imagen_experiencia {
    position: relative;
    background-size: 10px;
    width: 150px;
    height: 150px;
    border-radius: 40px;
}

.titulo_experiencia {
    margin: 0px;
    padding: 0px;
    font-size: 6em;
    width: fit-content;
    height: fit-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: .9em;
}



#accenture_icono {
    width: 210px;
}

#globant_icono {
    width: 210px;
}

.descripcion_empleo {
    margin: 0px;
    padding: 0px;
    position: relative;
    color: #9c9a9a;
    font-size: 23px;
    line-height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    color: white;
    text-shadow: 2px 2px 5px rgb(80, 56, 25);
}

.lista_experiencia {

    width: 2300px;
    display: grid;
    position: relative;
}

/* Curriculum formacion */
#lista_formacion {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
}

.icono_formacion {
    display: flex;
    height: 25%;
    margin-left: 10px;
    width: 98%;
    gap: 20px;
    /* Para evitar movimientos horizontales en otros dispositivos */
}

.ancla_formacion {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.img_formacion {
    width: 300px;
}

.formacion_texto {
    margin-left: 20px;
    position: relative;
    bottom: .2em;
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.contenedor_texto_formacion {
    align-items: center;
    justify-content: center;
    display: flex;
    /*     background-color: white;
    opacity: .8; */
}

.descripcion_formacion {
    color: white;
    font-size: 190%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

#carrera {
    font-size: 50px;
}

#arg_programa_icono {
    width: 250px;
    height: 90%;
    margin: 0px 40px 10px 25px;
}

.idiomas_formacion {
    position: relative;
    height: 10%;
}

.idiomas_texto {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 10px rgb(181, 20, 202);
}

#contenedor_idiomas_texto {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    font-weight: 600;
}

#titulo_idiomas {
    font-size: 70px;
}

/* Curriculum tecnologias */
.lista_tecnologias {
    display: flex;
    flex-direction: column;
}

.titulo_tecnologia {
    font-size: 2.5vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: white;
    text-shadow: .25vw .25vw .5vw rgb(20, 202, 36);
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 3vh;
}

.contenedor_icono_tecnologia {
    display: flex;
    justify-content: center;
}

#office {
    width: 39vw;

}

.icono_tecnologia {
    margin-left: 6vw;
    margin-right: 6vw;
    width: 10vw;
}

#php {
    width: 15vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

/* Curriculum contacto */

#outlook {
    margin-top: 20px;
}

.contacto_texto {
    margin-left: 20px;
    position: relative;
    bottom: .2em;
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    /* Por ahora no le cambie nada respeto de formacion_texto */
}

.boton_contacto {
    border-radius: 100px;
    opacity: .79;
    background-color: #2c3a47;
}

.descripcion_contacto {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 3em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    background-color: #2c3a47;
    border-radius: 100px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    opacity: 0.79;
}

.email_contacto {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 3em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}

.fa {
    color: white;
    font-size: 2em;
    margin-right: 20px;
}

.input_contacto {
    margin-left: 10px;
    width: 30em;
}

#mensaje {
    height: 9em;

}

#boton_envio {
    margin-top: 10px;
}

.formulario_contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.etiqueta_contacto {
    font-size: 2em;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    background-color: white;
    border-radius: 100px;
    border-color: black;
    border-style: solid;
    padding: 2px;
    opacity: 0.79;
    display: flex;
}

#boton_envio {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.7em;
    padding: 5px;
    font-weight: 550;
    opacity: .9;
    border-radius: 100px;
    width: fit-content
}


/* Imagen fondo */
.imagen_fondo {
    background-size: 120% 120%;
    width: 100%;
    height: 100vh;
    /* 1300px */
    z-index: -1;
}

#img_acerca_de {
    background-image: url("../Recursos/DSC_0148.jpg");
}

#img_tecnologia {
    background-image: url(https://images.techopedia.com/images/uploads/istock-1173805290.jpeg?w=800&h=0&mode=max&quality=70&scale=both);
}

#img_experiencia {
    background-image: url(https://www.efficy.com/wp-content/uploads/2020/02/Sales-negociation-closing-900x412.jpg);
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#img_formacion {
    background-image: url(https://carteret.edu/wp-content/uploads/2020/06/graduation.jpg);
    display: flex;
    flex-direction: column;
    height: 100%;
}

#img_contacto {
    background-image: url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_494741050_325316.jpg);
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Menu inferior */
.menu_inferior {
    background-color: rgb(187, 183, 183);
    justify-content: center;
    display: flex;
    position: relative;
    width: 100%;
    height: 8%;
    z-index: -1;
    font-size: .9vw;
}

.texto_inferior {
    margin-top: .8vh;
    margin-bottom: .8vh;
}

/* Menu y cabezal */
* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    /* Tipo de fuente, colocar apropiadamente */
    text-decoration: none;
    /* Necesario? */
    list-style: none;
    /* Desactiva los items de la lista */
    box-sizing: border-box;
    /* Especificamos que el padding y otras propiedades se tomen en cuenta para centrar el bloque */
}

header {
    background: #f1f1f1;
    /* Esto le da un color gris al cabezal */
}

.anchura_central {
    max-width: 80%;
    /* El div ocupa el 80% de espacio del header como màximoo */
    display: flex;
    /* Gracias a esta opcion los elementos quedan de izquierda a derecha en este caso */
    align-items: center;
    /* Coloca los elementos en el centro de la caja */
    justify-content: space-between;
    /* Aplica espacio entre la palabra menu y el icono */
    padding: 14px 20px;
    margin: auto;
    /* Ajusta los elementos en el centro del header */
}

.icono_menu {
    width: 50px;
    height: 50px;
    background: #2c3a47;
    color: #ffff;
    /* Color del icono */
    text-align: center;
    /* Alinea el icono al centro del div que lo contiene */
    line-height: 50px;
    /* Esta propiedad setea el espacio entre cada linea de texto, al setearlo del mismo tamaño que el contenedor, se reparten 25px hacia arriba y otros 25 hacia abajo */
    font-size: 20px;
    /* Modificar a gusto */
    z-index: 1;
    /* Permite que el icono se superponga a cualquier otro elemento que haya debajo */
    border-radius: 10px;
    /* Agrega un borde redondeado al elemento */
    cursor: pointer;
    /* Cambia el cursor al colocarlo encima del elemento */
    transition: .2s linear;
    /* Agrega una transicion con un cierto tiempo de duración y una forma específica de ejecutarse */
}

.icono_menu:hover {
    /* esto sirve para configurar la transicion */
    opacity: .9;
    transform: scale(1.1);
}

.menu_navegacion {
    /* Tener en cuenta que el menu de navegacion ya esta fuera del header y, por tanto, puede ocupar todo el body usando height y width */
    position: fixed;
    /*  Coloca al elemento de manera tal que se sobrepone a los demás */
    width: 100%;
    /* Indica al elemento que ocupe todo el ancho de pantalla */
    height: 100%;
    /* Indica al elemento que ocupe todo el largo de pantalla */
    background: #2c3a47;
    top: 0;
    /* Indica al elemento que debe colocarse en la parte superior */
    right: -100%;
    /* Se coloca en la parte derecha, alejado de la vista del usuario */
    display: flex;
    /* Determina una forma de contenedor diferente a la de grilla */
    align-items: center;
    /* Centro horizontal */
    justify-content: center;
    /* Define como se distribuye el espacio alrededor y entre los items de contenido */
    transition: .6s;

}

.menu_navegacion nav {
    display: grid;
    /* Al tenerlo como grid y no como viene por defecto podemos trabajar mejor las propiedades de cada elemento li */
}

.menu_navegacion li {
    margin: 20px 0;
    overflow: hidden;
    /* Esta propiedad evita que el texto se deforme si los items de lista son muy largos o se encuentran fuera de la vista del usuario*/
}

.menu_navegacion a {
    color: #ffff;
    font-size: 40px;
    font-weight: 700;
    /* Negrita */
    position: relative;
    /* Esto permite la superposicion entre texto y subrayado */
    display: inline-block;
    /*  Esto permite la superposicion con le subrayado */
    transform: translateY(50px);
    /*  Esto coloca al texto en una posición de altura específica, junto con la transicion*/
}


.menu_navegacion a::before {
    content: "";
    position: absolute;
    /* Esto permite que las barras naranjas se solapen a las palabras */
    width: 100%;
    height: 15px;
    background: #fd7474;
    bottom: 0;
    left: 0;
    /* Esquina inferior izquierda */
    border-radius: 15;
    z-index: -1;
    /* Que quede de fondo */
    transition: .2s linear;
    width: 0%
}

.menu_navegacion a:hover::before {
    width: 100%
}

p {
    max-width: 80%;
    /* A diferencia de width normal, esto le da más usabilidad y respuesta a diferentes dispositivos */
    margin: auto;
    /* Elementos al centro */
    padding: 40px 0;
    font-size: 18px;
    line-height: 1.4em;
    /* Interlineado */
    text-align: justify;
    /* Texto justificado */
}

.icono_menu.active {
    /* Este código le indica a CSS qué debe con el icono del menus cuando se clickee */
    background: #f1f1f1;
    color: #2c3a47;
}

.menu_navegacion.active {
    /* Esto indica qué debe pasar con el menú de navegación cuando se clickee,  */
    right: 0;
}

.menu_navegacion.active a {
    transform: translateY(0);
    transition: .6s linear;
}

.menu_navegacion.active li:nth-child(1) a {
    /* estas lineas generan que el enésimo item de la lista aparezca en diferente momento a los demas */
    transition-delay: .2s;
}

.menu_navegacion.active li:nth-child(2) a {
    transition-delay: .4s;
}

.menu_navegacion.active li:nth-child(3) a {
    transition-delay: .6s;
}

.menu_navegacion.active li:nth-child(4) a {
    transition-delay: .8s;
}

.menu_navegacion.active li:nth-child(5) a {
    transition-delay: 1s;
}