.menu_inferior {
    background-color: rgb(187, 183, 183);
    justify-content: center;
    display: flex;
    position: relative;
    width: 100%;
    height: 8%;
    z-index: -1;
    font-size: .9vw;
}

.texto_inferior {
    margin-top: .8vh;
    margin-bottom: .8vh;
    text-align: center;
}