#lista_formacion {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
}

.icono_formacion {
    display: flex;
    height: 25%;
    margin-left: 10px;
    width: 98%;
    gap: 20px;
    /* Para evitar movimientos horizontales en otros dispositivos */
}

.ancla_formacion {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.img_formacion {
    width: 300px;
}

.formacion_texto {
    margin-left: 20px;
    position: relative;
    bottom: .2em;
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.contenedor_texto_formacion {
    align-items: center;
    justify-content: center;
    display: flex;
    /*     background-color: white;
    opacity: .8; */
}

.descripcion_formacion {
    color: white;
    font-size: 190%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

#carrera {
    font-size: 50px;
}

#arg_programa_icono {
    width: 250px;
    height: 90%;
    margin: 0px 40px 10px 25px;
}

.idiomas_formacion {
    position: relative;
    height: 10%;
}

.idiomas_texto {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 10px rgb(181, 20, 202);
}

#contenedor_idiomas_texto {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    font-weight: 600;
}

#titulo_idiomas {
    font-size: 70px;
}